@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D4D4D8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717A;
}

.cell-scroll {
  scrollbar-width: thin;
  scrollbar-color: #D4D4D8 transparent;
}
